<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> GOSTOSO - Ricette creole</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<link rel="shortcut icon" href="/image/IconaSF.png " type="image/x-icon">
	</head>
	<body>
		<section id="Home">
			<nav>
				<div class="logo">
					<a href="index.html"><img src="images/LogoSF.png" ></a>
				</div>
				
				<ul>
					<li><a href="index.html" class="action">Home</a></li>
					<li><a href="#" >Recipes</a></li>
					<li><a href="#" >Ingredients</a></li>
					<li><a href="#" >Community</a></li>
					<li><a href="#" >Blog</a></li>
				</ul>
				
				<div class="login">
					<a href="#"> Login </a>
				</div>
			</nav>
			<div class="main">
				<div class="main_text">
					<h1>CACHUPA<span></span><br></h1>
					
					<p>
					Immagina un viaggio culinario che ti trasporta direttamente
					nelle terre vulcaniche e vibranti di Capo Verde. La Cachupa, 
					gioiello della cucina capoverdiana, è un tripudio di sapori 
					audaci e avvolgenti. Un piatto ricco e avvolgente, preparato 
					con cura tramandata di generazione in generazione, che unisce 
					ingredienti freschi come mais, fagioli, verdure e carne in una 
					sinfonia di gusto. Ogni morso è un'esplosione di tradizione e 
					autenticità, con note di spezie esotiche e aromi che ti cullano 
					in un abbraccio caldo e appagante. La Cachupa è più di un semplice
					 piatto: è un'esperienza culinaria che ti trasporta direttamente 
					 nel cuore pulsante di Capo Verde.
					</p>
					
					<a href="#" class="btn">VIEW RECIPE <i class="fa-solid fa-arrow-right"></i></a>
				</div>
				
				<div class="main_image">
					<img src="images/Cachupa.png">
				</div>
			</div>
		</section>
		
		<!-- Blog starts-->
		
		<div class="about">
			<div class="about_main">
				<div class="about_image">
					<img src="images/History.png">
				</div>
			
			    <div class="about_text">
					<h1><span>Our</span>Blog</h1>
					<h3>A bit of history</h3>
					<p>
						La cucina creola è una tradizione culinaria ricca 
					    e variegata, che nasce dall'incontro di diverse culture 
					    e influenze. Questa cucina è particolarmente associata 
					    alle regioni del sud degli Stati Uniti, in particolare 
					    alla Louisiana, ma le sue radici si estendono ben oltre, 
					    abbracciando influenze africane, francesi, spagnole, 
					    caraibiche e dei nativi americani.
					</p>
					
					<div class="about_services">
						<div class="s_1">
							<i class="fa-solid fa-utensils"></i>
							<a href="#">Curious?</a>
						</div>
					</div>	
				</div>
			</div>
		</div>
		
		<!-- Blog ends -->
		
		<!-- Recipes starts -->
		
		<div class="recipes">
			
			<h1> Our <span> Recipes</span></h1>
			
			<div class="recipes_box">
				
				<div class="recipes_card">
					
					<div class="recipes_img">
						<img src="images/">
					</div>
					
					<div class="Recipes_text">
						<h2>GUMBO</h2>
						<p>
							A base di riso, si tratta di una zuppa con ingredienti variabili: 
							dai frutti di mare al pollame, fino ad altre carni come insaccati o salsicce.
						</p>
						
						<div class="recipes_icon">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star-half-stroke"></i>
						</div>
						
						<a href="#" class="recipes_btn"> Cook <i class="fa-solid fa-cookie-bite"></i></a>
					</div>
				</div>
				
				<div class="recipes_card">
					
					<div class="recipes_img">
						<img src="images/">
					</div>
					
					<div class="Recipes_text">
						<h2>MOKA CRÉOLE</h2>
						<p>
							Mokà crèole, ovvero la mattonella creola. Di tutte 
							le incredibili e meravigliose ricette tratte dal libro 
							di Brigitte Grondin, La cuisine réunionnaise, ho scelto 
							questa perché è la più casalinga, quella nel cuore dell’autrice.
						</p>
						
						<div class="recipes_icon">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star-half-stroke"></i>
						</div>
						
						<a href="#" class="recipes_btn"> Cook <i class="fa-solid fa-cookie-bite"></i></a>
					</div>
				</div>
				
				<div class="recipes_card">
					
					<div class="recipes_img">
						<img src="images/">
					</div>
					
					<div class="Recipes_text">
						<h2>KARI ZOURIT</h2>
						<p>
							Polpo al curry con latte di cocco accompagnato da 
							riso basmati al vapore, chutney di papaya verde e 
							lenticchie rosse.
						</p>
						
						<div class="recipes_icon">
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star"></i>
							<i class="fa-solid fa-star-half-stroke"></i>
						</div>
						
						<a href="#" class="recipes_btn"> Cook <i class="fa-solid fa-cookie-bite"></i></a>
					</div>
				</div>
			</div>
		</div>
		<!-- Recipes ends -->
		
	</body>
</html>