<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> GOSTOSO - Ricette creole</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
		<link rel="shortcut icon" href="/image/ " type="image/x-icon">
	</head>
	<body>
		<header>
			<div class="topnav">
			<div class="container flex">
				<div class="navicons flex">
					<a href="/"><i class="fa-brands fa-facebook"></i></a>
					<a href="/"><i class="fa-brands fa-instagram"></i></a>
					<a href="/"><i class="fa-brands fa-linkedin"></i></a>
					<a href="/"><i class="fa-brands fa-youtube"></i></a>
				</div>
				<a href="/" class="srbtn">Submit Recipe<i class="fa-solid fa-plus"></i></a>
			</div>
			</div>
			<div class="mainnav">
				<div class="container flex">
					<div class="logo flex">
						<img src="" alt="">
						<h1>GOSTOSO - Ricette creole</h1>
					</div>
					<ul class="navlist flex">
						<li><a href="/">Home</a></li>
						<li><a href="/">Categories</a></li>
						<li><a href="/">Blog</a></li>
						<li><a href="/">Recipes</a></li>
						<li><a href="/">Pages</a></li>
					</ul>
					<div class="searchbar flex">
						<input type="checkbox" name="check-toggler" id="checkbox" hidden="">
						<label for="checkbox" class="toggle">
							<div class="toggle__circle"></div>
						</label>
					</div>
				</div>
			</div>
		</header>
	</body>
</html>